COINMARKETCAP_API_KEY=replace-with-cmc-key
DAPPRADAR_API_KEY=replace-with-dappradar-key
COINMETRICS_API_KEY=replace-with-coinmetrics-key
ETHERSCAN_API_KEY=replace-with-etherscan-key
TRONSCAN_API_KEY=replace-with-tronscan-key
SOLSCAN_API_KEY=replace-with-solscan-key
